.hamburguer__icon {
    display: none;
}

.sales__container{
    overflow-y: scroll;
    min-height: 50vh;
    width: 100%;
}

.cart__container{
    overflow-y: scroll;
    min-height: 60vh;
}

@media (max-width: 800px) {
    .menu__desktop {
        display: none;
    }
    .btn__closeSession-desktop {
        display: none;
    }
    .hamburguer__icon {
        display: inline;
    }
    .header {
        justify-content: left;
    }
}

.menu__item {
    font-size: large;
    font-weight: bold;
}
