.create-client-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    
    flex:1 1 calc(15px + 1rem);
}

.textfield__create-client{
    flex: auto;
}
.btn_save-client{
    margin: 1rem;
    background-color: rgba(0, 165, 8, 0.74);
    color: white;
    font-weight: bold;
    font-size: 18px;
}


